<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">
                        registrar una nueva compra</h3>
                </div>
                <div class="card-body">
                    <form action="/comadd" method="post">
                    <div class="input-group mt-2">
                        <label for="cantidad_com" class="imput-group-text">Cantidad</label>
                        <input class="form-control" type="number" name="cantidad_com" id="cantidad_com" placeholder="dd/mm/aa" required>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>