

<div class="conatiner p-4"></div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Regsitrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/userauth" method="post">
                    <div class="input-group mt-2">
                        <label for="usuarios" class="input-group-text">Usuario</label>
                        <input class="form-control" type="text" name="userName_us" id="userName_us" placeholder="Ejemplo: Luis Angel" autofocus required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="password" class="input-group-text">Contraseña</label>
                        <input class="form-control" type="password" name="password_us" id="password_us" required>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"> Registrarse</button>
                    </div>
                    </form>  
                </div>
            </div>
        </div>
    </div>
</div>