<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <b>Esto es para todos????-----se confirma modificando aqui!!</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Crear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Listar</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/prodcrear">Crear</a></li>
            <li><a class="dropdown-item" href="/prodlist">Listar</a></li>
            <li><a class="dropdown-item" href="/comadd">Registrar compra</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>