<div class="conatiner p-4">"conatiner p-4"
    <div class="row">"Direnciando los DIV"
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">CREAR UN NUEVO PRODUCTO</h3>
                </div>
                <div class="card-body">
                    <form action="/prodcrear" method="post">
                    <div class="input-group mt-2">
                        <label for="name" class="input-group-text">Nombre</label>
                        <input class="form-control" type="text" name="nombre_pro" id="nombre_pro" placeholder="Ejemplo: Martillo" autofocus required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="lastname" class="input-group-text">Descripción</label>
                        <input class="form-control" type="text" name="descripcion_pro" id="descripcion_pro" placeholder="Ejemplo: Mango madera" required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="age" class="input-group-text">Cantidad</label>
                        <input class="form-control" type="number" name="cantidad_pro" id="cantidad_pro" placeholder="0" required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="age" class="input-group-text">Precio</label>
                        <input class="form-control" type="number" name="precio_pro" id="precio_pro" placeholder="0" required>
                    </div>
                </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"> Crear</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>